<form id="{{data-id}}-notes" class="pk-form pk-pdd-m-all">
  <label class="pk-lbl pk-f-blue800">Notas</label>
  <textarea id="{{data-id}}-notes-textarea" class="pk-txtarea pk-w100 pk-bdr-s-b pk-bdr-blue300 eao-notes" placeholder="Escribe aquí tus notas. Podrás usarlas para repasar."></textarea>
</form>

<form id="{{data-id}}-words" class="pk-form pk-pdd-m-all">
  <label class="pk-lbl pk-f-blue800">Palabras</label>
  <p>Escribe las palabras que no hayas entendido o que te resulten difíciles:</p>
  <textarea id="{{data-id}}-words-textarea" class="pk-txtarea pk-w100 pk-bdr-s-b pk-bdr-blue300 eao-notes" placeholder="i.e: conundrum"></textarea>
</form>
