<!DOCTYPE html>
<html>

{{> head/template }}

<body>
  <header class="pk-grid pk-bg-blue400">
    {{> nav-bar/template }}

    <section class="pk-grid pk-pdd-l-all pk-f-white">
      <section class="pk-col pk-mg-l-tb">
        <h1 class="eao-title">El Proyecto</h1>
      </section>
    </section>
  </header>

  <section class="pk-grid pk-pdd-l-all">
    <section class="pk-row">
      <section class="pk-col pk-col-6">
        <p>Este proyecto pertenece a una investigación realizada para el Trabajo de Fin de Máster con el título: "".</p>

        <p>Se trata de un prototipo de un ejercicio de aprendizaje de idiomas, siendo L1 Español a L2 Inglés. Este ejercicio es enviado a una muestra de sujetos para que lo completen de manera anónima.</p>
        <p>El programa registra eventos del usuario y los envía a un Learning Record System, en este caso, Learning Locker, utilizando la especificación de aprendizaje xAPI.</p>

        <p>El objetivo de esta prueba consiste en:</p>
        <ul>
          <li>Estudiar la recogida de datos relacionados con el aprendizaje de una lengua.</li>
          <li>Investigar cómo recoger dichos datos utilizando la especificación xAPI.</li>
          <li>Investigar cómo recoger dichos datos utilizando tecnologías web.</li>
        </ul>
      </section>
    </section>
  </section>

  {{> footer/template }}
</body>

{{> scripts/template }}

</html>
