<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Map Widget Carto</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <section class="mwc-container">

      {{> nav-bar/template }}

      <section class="pk-grid pk-w100">

        <section class="pk-row">

          <section class="pk-col pk-col-row pk-3 pk-pdd-l-all mwc-map-widget-editor__container">

            <section class="pk-col pk-6">
              <h2>Style</h2>
              <p>Change the visualization</p>
            </section>

            <section class="pk-col pk-6">

              <form class="pk-form pk-inl pk-pdd-m-tb">

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">SHOW LABEL</label>
                  {{> dropdown-select/template
                    class="pk-input pk-inl pk-w80 pk-bdr-grey400"
                    data-id="mwc-dropdown-select-property"
                    data-show-value="true"
                    data-title="Map Properties"
                  }}
                </section>

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">COLOR RANGE</label>
                  {{> colors-range/template
                      data-id="mwc-color-range"}}
                </section>

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">FILL</label>
                  {{> map-widget-editor/template
                      class="pk-input pk-inl pk-w20 pk-bdr-grey400 mwc-bdr-r-none"
                      data-id="mwc-marker-opacity"
                      data-layer="layer1"
                      data-style-property="fillOpacity"
                      data-type="number"
                      data-min="0"
                      data-max="1"
                      data-step="0.1"
                      data-name="mwc-marker-opacity"
                  }}
                  {{> map-widget-editor/template
                      class="pk-input pk-inl pk-w60 pk-bdr-grey400 mwc-map-widget-editor--color"
                      data-id="mwc-marker-color"
                      data-layer="layer1"
                      data-style-property="fillColor"
                  }}
                </section>

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">STROKE</label>
                  {{> map-widget-editor/template
                      class="pk-input pk-inl pk-w20 pk-bdr-grey400 mwc-bdr-r-none"
                      data-id="mwc-marker-weight"
                      data-layer="layer1"
                      data-style-property="weight"
                      data-type="number"
                      data-min="0"
                      data-step="1"
                  }}
                  {{> map-widget-editor/template
                      class="pk-input pk-inl pk-w60 pk-bdr-grey400 mwc-map-widget-editor--color"
                      data-id="mwc-marker-border-color"
                      data-layer="layer1"
                      data-style-property="color"
                  }}
                </section>

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">SHAPE</label>
                  {{> dropdown-select/template
                    class="pk-input pk-inl pk-w80 pk-bdr-grey400"
                    data-id="mwc-dropdown-select-shape"
                    data-show-value="true"
                    data-title="Select Shape"
                  }}
                </section>

                <section class="pk-form-group-inl">
                  <label class="pk-lbl pk-inl pk-w20">SIZE</label>
                  {{> map-widget-editor/template
                      class="pk-input pk-inl pk-w80 pk-bdr-grey400"
                      data-id="mwc-marker-radius"
                      data-layer="layer1"
                      data-style-property="radius"
                      data-type="number"
                      data-min="0"
                      data-step="1"
                  }}
                </section>

              </form>

            </section>

          </section>

          <section class="pk-col pk-3 mwc-map__container">
            {{> map-widget/template }}
          </section>

        </section>

      </section>

    </section>

  </body>

  <script type="text/javascript" src="index.js"></script>
</html>
