<!DOCTYPE html>
<html>

{{> head/template }}

<body id="eao-page">
  <header class="pk-grid pk-bg-blue400">
    {{> nav-bar/template }}
    <section class="pk-grid pk-pdd-m-all pk-f-white">
      <section class="pk-col pk-mg-l-tb">
        <h1 class="eao-title">Instrucciones</h1>
        <p class="pk-mg-m-tb">1. Introduzca su email para poder empezar.</p>
        {{> user-email/template data-id="eao-user-email"}}
        <p class="pk-mg-m-tb">2. Tome el tiempo necesario para aprender el siguiente contenido en inglés. Está en distintos formatos, por lo que puede utilizar los que más le gusten. Dispone de un cuadro de texto donde puede tomar notas a modo de esquema, y otro para anotar palabras. Cuando lo crea oportuno, responda a un cuestionario sobre dicho contenido.</p>
        <p class="pk-pdd-m-tb"><a id="eao-questions-link" href="/questions.html" class="pk-bg-pink400 pk-pdd-s-all">Ya me he estudiado el contenido, empezar cuestionario.</a></p>
      </section>
    </section>
  </header>

  <section id="eao-content" class="pk-grid eao-content eao-content--hidden">
    <section class="pk-row">
      <section class="pk-col pk-4 pk-pdd-m-all">
        <h3>Contenido</h3>

        {{> tabs-container/template data-id="eao-tabs-content"}}

        <section id="eao-tabs-content-contents">
          <div id="eao-tabs-content-audio" class="eao-tabs-container__contents">
            {{> content-audio/template data-id="eao-content-audio"}}
          </div>

          <div id="eao-tabs-content-text" class="eao-tabs-container__contents">
            {{> content-text/template data-id="eao-content-text"}}
          </div>

          <div id="eao-tabs-content-images" class="eao-tabs-container__contents">
            {{> content-text/template data-id="eao-content-images" show-images="true"}}
          </div>

          <div id="eao-tabs-content-video" class="eao-tabs-container__contents">
            {{> content-video/template data-id="eao-content-video"}}
          </div>
        </section>

      </section>

      <section class="pk-col pk-2 pk-pdd-m-all">
        {{> user-notes/template data-id="eao-user-notes"}}
      </section>

    </section>
  </section>

  {{> footer/template }}
</body>

{{> scripts/template }}

</html>
