.eao-content-text {
  margin: 2em auto;

  p {
    text-indent: 1em;
    margin: 2em auto;
    line-height: 1.5;
  }
}

.eao-content-image__container {
  width: 100%;
  text-align: center;
  margin: 0;
}

.eao-content-image {
  width: 60%;
  margin: 0;
}
