<footer class="pk-grid pk-pdd-m-all pk-f-blue600">
  <section class="pk-col-row">
    <p>Creado por <a href="https://twitter.com/eletorro">Elena Torr&oacute;</a> para el <a href="http://portal.uned.es/portal/page?_pageid=93,1339329&_dad=portal&_schema=PORTAL">Máster en Lenguajes y Sistemas Informáticos de la UNED</a>. 2017.</p>
  </section>
</footer>
