<footer class="pk-grid pk-pdd-m-all pk-f-blue600">
  <section class="pk-col-row">
    <p>Creado por <a href="https://twitter.com/eletorro">Elena Torr&oacute;</a> para el Máster en Lenguajes y Sistemas Informáticos de la UNED. 2017.</p>
  </section>
</footer>
