.mwc-carto-logo {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: flex;
  display:-webkit-flex;
  height: 2.5em;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 2.5em;

  &:after {
    align-self: center;
    -webkit-align-self: center;
    background-color: white;
    border-radius: 1em;
    content: "";
    display: block;
    height: .85em;
    width: .85em;
  }
}

.mwc-nav {
  min-height: 100%;

  nav {
    box-sizing: border-box;
    height: 100%;
    padding-top: 2.75em;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media all and (max-width: $mwc-media-max-width) {
  .mwc-container {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .mwc-nav {
    height: auto;
    width: 100%;

    nav {
      height: auto;
      padding: 1em;
    }
  }
}
