<nav class="pk-row pk-nav pk-nav-fxd pk-bg-blue400">
  <ul class="pk-nav-link-list pk-nav-link-list-r pk-col pk-col-row pk-6">
    <li><a id="eao-init" class="pk-nav-link pk-bg-hv-orange700" href="index.html">Inicio</a></li>
    <li><a class="pk-nav-link pk-bg-hv-orange700" href="about.html">El Proyecto</a></li>
    <li><a class="pk-nav-link pk-bg-hv-orange700" href="http://portal.uned.es/">UNED</a></li>
  </ul>
</nav>
